<!DOCTYPE html>
<html>
  <head>
    <title>IdentiStreet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
   
    <script src='https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_api_key %>'></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script>
      window.logo = "<%= image_url("logo3.svg")%>"
      window.skyline = "<%= image_url("buildings.png")%>"
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
