<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" 
      type="image/png" 
      href="<%= image_url("search-icon.svg")%>" />
    <title>IdentiStreet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <meta property="og:title" content="IdentiStreet" />
     <meta property="og:image" content="https://mackzumarraga.github.io/Portfolio-MackZumarraga/images/identistreet.PNG" />
     <meta
       property="og:description"
       content="IdentiStreet is a clone of StreetEasy.com with full CRUD functionality. Just like the actual website, the listings come with information such as description, photos, map location, and amenities."
     />
     <meta
       property="og:url"
       content="https://identistreet.herokuapp.com/"
     />

    <script src='https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_api_key %>'></script>
    

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script>
      window.logo = "<%= image_url("logo3.svg")%>"
      window.skyline = "<%= image_url("buildings.png")%>"
      window.search = "<%= image_url("search-icon.svg")%>"
      window.googleAPIKey = "<%= Rails.application.credentials.google_api_key %>"
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
